<section class="users-section">
  <ul class="users-list">
    <li>
    <% @users.each do |user| %>
      Name: <%= user.name %>
      <span class="profile-link">
        <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
      </span>
      <button class="frd-rqst">
        <%= show_friend_btn(user.id) %>
      </button>
    <% end %>
    </li><br>
  </ul>
</section>
