<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
    <h3><%= link_to 'You Are Friends With:', '#' %></h3>
          <br>
          <ol>
            <% @user.friends.each do | friend |%>
              <li><%= friend.name %></li><hr>
            <%end%>
          </ol>
  </article>
</section>
